.junier-program {
    background-image: linear-gradient(45deg, rgba(19, 19, 24, 0.5), rgba(19, 19, 24, 0.5)), url(./Images/2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}